.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}
.ArticlePage_Header {
  width: 100%;
}
.header {
  width: 93.61%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--secondary-color);
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  margin: 0.5% 0% 0% 0%;
}

.logo img {
  width: 100px;
  height: 30.66px;
  margin-left: 26px;
  gap: 0px;
  opacity: 0px;
  border-radius: 10px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
}
.auth-buttons {
  margin-right: 26px;
}
.auth-buttons .signup,
.auth-buttons .login {
  background-color: rgba(255, 255, 255, 1);
  border: none;
  padding: 10px 20px;
  border-radius: 36.49px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  color: rgba(26, 130, 255, 1);
  font-weight: 600;
}

.auth-buttons .signup {
  background: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.auth-buttons .login {
  background: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.auth-buttons .signup:hover {
  background: black;
  color: white;
}
.auth-buttons .login:hover {
  background: black;
  color: white;
}
.content {
  width: 92.91%;
  display: flex;

  margin: 1% 1% 0.5% 1%;
  /* margin-top: 0; */
  color: #333;
}
.history-pagination {
  margin-left: 1%;
  width: 20%;
  padding: 27px, 0px, 27px, 0px;
  /* height: 70vh; */
  max-height: 700px;
  overflow-y: auto;
  color: #333;
  border-radius: 20px;
  border: 1px solid #ebebf3;
  /* background-color: rgba(249, 249, 249); */
}

.article-content {
  width: 43.61%;
  height: 70vh;
  /* max-height: 300px; */
  /* overflow-y: auto; */
  overflow-y: hidden;
  text-align: start;
  margin: 0% 0.5%;
  gap: 28px;
  border-radius: 20px;
  flex: 1;
  /* padding: 0 20px 20px 20px; */
  border: 1px solid rgba(235, 235, 243, 1);
}
.article-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
  padding-bottom: 10px;
  border-radius: 20px;
  padding: 0 20px 10px 20px;
}
.content-brake {
  border: 1px solid #97b0c8;
  margin-bottom: 2%;
}
.meta {
  height: 55vh;
  overflow-y: auto;
  padding-left: 20px;
}
.article-content .meta p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 16px;
  color: #333;
}

.article-content .meta p:last-child {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 0;
}
.streaming-section {
  width: 100%;

  display: flex;

  margin: 2% 0% 2% 0%;
}
.streaming-content {
  width: 100%;

  flex: 1;
}
.typographyRow-articles {
  text-align: justify;
  margin-top: 10px;
  width: fit-content; /* Ensure it takes the full width of the container */
  font-size: 15px !important;
}

.query-asked {
  background-color: rgba(237, 237, 237, 1);
  /* text-align: right; */
  float: right;
  max-width: 300px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto; /* Pushes it to the right */
  clear: both;
  word-wrap: break-word;
  margin: 2%;
  max-height: 300px;
  overflow-y: auto;
  color: black;
  font-size: 15px;
}

.response {
  text-align: left;
  float: left;
  width: 80%;
  /* max-width: 500px; */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  margin-right: auto;
  clear: both;
  overflow-y: auto;
  color: black;
  background: #f9fcfe;
  font-size: 14px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
#pagination-a {
  padding: 0 15px;
}
.history-pagination p {
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  text-align: start;
  margin-left: 1%;
  /* margin: auto; */
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 0 15px;
}

.history-pagination ul {
  list-style: none;
  padding: 0px 15px 0px 15px;
  justify-content: start;
  margin-top: 15%;
}

.history-pagination ul li {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  position: relative;
  padding: 10px 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease;
  border-bottom: 1px solid rgba(235, 235, 243, 1);
}
.history-pagination ul li:hover {
  background-color: rgba(237, 237, 237, 1);
}
.history-pagination ul li a {
  text-decoration: none;
  justify-content: start;
  color: black;
}

.history-pagination ul li.active {
  color: black;
  font-weight: 600;
}

.history-pagination ul li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}

.history-pagination ul li.active a::before {
  content: "";
  position: absolute;
  left: 3px; /* Adjusts the left position for the blue line */
  top: 0;
  bottom: 0;
  width: 2px; /* Width of the blue line */
  border-radius: 10px;
  background-color: #007bff; /* Blue color for the active line */
}

.history-pagination ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
}

.custom-bold {
  font-weight: 900;
}
.article-chat-query {
  position: absolute;
  left: 24%;
  /* position: relative; */
  width: 100%;
  /* margin: 0% 0% 1% 17%; */
  width: 68%;
  display: flex;

  flex-direction: column;
  padding: 10px 0;
  border-radius: 20px;
  /* z-index: 10; */
  border: 1px solid rgba(235, 235, 243, 1);
}
.predefined-prompts {
  display: flex;
  gap: 20px;
  padding: 0 10px 10px 10px;
}

.predefined-prompts button {
  /* background-color: transparent; */
  border: 1px solid rgb(206 206 206);
  color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 24px;
  padding: 7px;
  background-color: #c4dad2;
}
.stream-input {
  width: 98%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  align-items: center;
  margin: auto;
}
.stream-input input {
  flex-grow: 1;
  padding: 15px 0; /* Add padding for the flag and button */
  border-radius: 20px;
  /* border: 1px solid #ccc; */
  margin-left: 1%;
  font-size: 14px;
  box-shadow: 500px;
  width: 85%;
  border: none;
  outline: none;
}

.stream-flag-logo {
  top: 60%;
  margin-left: 1%;
}

.stream-input .button {
  height: 30px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 1%;
}
.stream-input-query {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 22%;
  display: flex;
  align-items: center;
  width: 76%;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.right-aside {
  display: flex;
  gap: 5px;
  opacity: 0px;
  height: fit-content;
}
.annotate-note {
  display: grid;
  height: 70vh;
}
.annotate-height {
  position: relative;
  border: 1px solid rgb(235, 235, 245);
  border-radius: 16px 16px 0px 0px;
  width: 28vw;
}
.annotate-line2 {
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 17px;
  height: 1px;
  /* cursor: ns-resize; */
  background-color: black;
  transform: translateX(-50%);
}
.notes-height {
  position: relative;
  overflow-y: auto;
  border: 1px solid rgb(235, 235, 245);
  border-radius: 0px 0px 16px 16px;
  width: 28vw;
}
.notes-line1 {
  display: none;
  position: absolute;
  top: 3px;
  left: 50%;
  width: 17px;
  height: 1px;
  background-color: black;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.notes-line2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 29px;
  height: 1px;
  cursor: ns-resize;
  background-color: black;
  transform: translateX(-50%);
}
.icons-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.annotate-icon {
  border: 1px solid rgba(235, 235, 243, 1);
  border-radius: 8px 0px 0px 0px;
  padding: 10px;
}
.notes-icon {
  border: 1px solid rgba(235, 235, 243, 1);
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
}
.tables p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: black;
  margin: 3%;
}
.Annotate-tables {
  margin: 3%;
}
.table-head {
  border-bottom: 1px solid;
}
.annotate-icon,
.notes-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.annotate-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.annotate-icon.closed {
  background-color: white;
}

.notes-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.notes-icon.closed {
  background-color: white;
}
/* Add custom border-bottom for each row */
.table-row td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-head {
  border-bottom: 2px solid #ddd;
}
/* Add border-left for each th element */
.table-head th {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.table-row td {
  border-left: 1px solid #ddd;
}

/* Add overall table border styles */
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-decoration: none;
}
th,
td {
  padding: 8px; /* Optional padding for readability */
  text-align: left; /* Optional for alignment */
  text-decoration: none;
  color: black;
  font-family: Manrope;
  font-size: small;
  padding-left: 10px;
}
.save-button {
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(26, 130, 255, 1);
  font-weight: 500;
  margin: 6px 6px 0 0;
  padding-left: 10px;
  padding-right: 10px;
}

.back-button {
  border: none;
  padding: 0;
  border-radius: 36.49px;
  cursor: pointer;
  /* margin-left: 10px; */
  font-size: 14px;
  color: black;
  font-weight: 600;
  background: transparent;
  background-color: rgba(255, 255, 255, 1);
}

.back-button > img {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.back-button:hover > img {
  font-size: 1.2em;
  transform: translateX(-5px);
}
.back-button > span {
  font-weight: 500;
  color: black;
}

.loading-dots {
  display: inline-block;
  width: 50px;
  size: 24px;
  text-align: center;
}

.loading-dots span {
  display: inline-block;
  animation: blink 1s infinite both;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.Popup-buttons {
  padding: 3px;
  display: flex;
  gap: 3px;
  box-shadow: #ccc;
}

.typing-dot {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  font-size: 24px;
  color: #00bfa5;
  animation: blink 1.2s infinite;
}
.ArticleTitle-Bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.Rate-Article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* gap: 10px; */
  /* width: 235px; */
  height: 1vh;
  width: 17vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: rgb(205 205 205);
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > input:not(:disabled) ~ label:hover,
.rate:not(:checked) > input:not(:disabled) ~ label:hover ~ label {
  color: #ffc700;
}
.rate > input:disabled ~ label {
  cursor: default;
}
#scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  bottom: 20px; /* Place the button at the bottom */
  right: 30px; /* Place the button on the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none;
  background-color: #000; /* Black background */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scrollTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Styling for the message box */
.Article-data-not-found {
  height: 60vh;
  width: 70%;
  text-align: center;
  background-color: #fff; /* White background for the box */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  padding: 30px 50px; /* Padding inside the box */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.Article-data-not-found .history-pagination {
}
.Article-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 58, 64, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.Saving-note {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0;
  text-align: start;
  font-weight: 600;
}
#confirming {
  font-size: 14px;
  text-decoration: none;
  text-align: start;
  font-weight: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.Article-popup-content {
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Article-confirm-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 15px;
}

.Article-confirm-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.Article-confirm-buttons button:first-of-type {
  color: rgba(78, 78, 86, 1);
  background: rgba(234, 234, 236, 1);
}

.Article-confirm-buttons button:last-of-type {
  background: rgba(248, 29, 82, 1);
  color: white;
}
.bookmark-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}
.bookmark-p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.bookmark-para {
  font-weight: 600;
  color: #000;
  margin: 1%;
  padding: 0;
  text-align: start;
}
.modal-content h4 {
  margin: 3% 0% 0% 1%;
}
.modal-content h3,
.modal-content p {
  margin-bottom: 10px;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-content input {
  width: 97%;
  padding: 8px 0 8px 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.modal-content ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.modal-content ul li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 10px 10px 0;
}
.modal-content ul li:hover {
  background-color: #dddddd70;
}
.collection-name {
  font-size: 16px;
  font-weight: 500;
}
.collection-article-count {
  font-size: 16px;
  font-weight: 500;
}
