.sidebar {
  width: 250px;
  background: rgba(245, 249, 255, 1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.sidebar-components {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 10%;
  box-sizing: border-box;
}

.sidebar-header {
  margin-bottom: 40px;
}

.logo {
  width: 120px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 85%;
  gap: 10px;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  color: #4a4a4a;
  position: relative;
}

.nav-item:hover {
  background-color: #e8efff;
  border-radius: 7px;
}

.nav-item.active {
  background-color: #fff;
  color: #007bff;
  font-weight: bold;
  border-radius: 7px;
}
.nav-item.active::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1%;
  bottom: 0;
  width: 3px;
  height: 25px;
  padding: 10px 0;
  background-color: #007bff;
  border-radius: 0 5px 5px 0;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.sidebar-nav a {
  text-decoration: none;
}

.nav-item span {
  font-size: 16px;
}

@media (min-width: 0px) and (max-width: 576px){
.sidebar{
  width: 100%;
  background: none;
}
.sidebar-components {
   
  flex-grow: 0;
  margin-top: 0;
  box-sizing: border-box;
}
.sidebar-nav{
  display: flex;
      width: auto;
      flex-direction: row;
}
.nav-item {
  border: 1px solid #EBEBF3;
  border-radius: 10px;
}
}
@media screen and (min-width: 576px) and (max-width: 992px){
  .sidebar{
    width: 100%;
    background: none;
  }
  .sidebar-components {
   
    flex-grow: 0;
    margin-top: 0;
    box-sizing: border-box;
  }
  .sidebar-nav{
    display: flex;
        width: auto;
        flex-direction: row;
  }
  .nav-item {
    border: 1px solid #EBEBF3;
    border-radius: 10px;
  }
}
