.search-tables {
  border: 1px solid rgba(235, 235, 243, 1);
  border-radius: 16px 16px 0px 0px;
}
.search-tables p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: black;
  margin: 0 auto;
  width: fit-content;
}
.search-Annotate-tables {
  /* margin: 3%; */
  background: rgba(251, 251, 253, 1);
}
.search-table-head {
  border-bottom: 1px solid;
}
.search-annotate-icon,
.search-notes-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-annotate-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.search-annotate-icon.closed {
  background-color: white;
}

.search-notes-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.search-notes-icon.closed {
  background-color: white;
}
/* Add custom border-bottom for each row */
.search-table-row td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.search-table-body {
  background: rgba(251, 251, 253, 1);
}
.flex-row {
  display: flex;
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 13px;
  cursor: pointer;
}
/* Add border-left for each th element */
.search-table-head th {
  /* border-left: 1px solid #ddd; */
}

/* Add overall table border styles */
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-decoration: none;
}
th,
td {
  padding: 8px; /* Optional padding for readability */
  text-align: left; /* Optional for alignment */
  text-decoration: none;
  color: black;
  font-family: Manrope;
  font-size: small;
  padding-left: 10px;
}
.search-save-button {
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(26, 130, 255, 1);
  font-weight: 500;
  margin: 6px 6px 0 0;
  padding-left: 10px;
  padding-right: 10px;
}
.search-table-head th {
  /*   
    border-left: 1px solid #ddd; */
  border-top: 1px solid #ddd;
}
.search-table-body td {
  border-radius: 0 0 0 16px;
  font-size: 12px;
  /* border-left: 1px solid #ddd; */
  border-top: 1px solid #ddd;
  text-align: center;

}
.search-table-row td {
  border-left: 1px solid #ddd;
}
.search-table-body:last-child td:first-child {
  border-radius: 0 0 0 16px; /* Apply border-radius to the first td in the last row */
}

.search-table-body:last-child td:last-child {
  border-radius: 0 0 16px 0; /* Apply border-radius to the last td in the last row */
}
