.signup-btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: var(--color-text-blue);
}
.signup-btn:hover,
.login-btn:hover {
  background-color: var(--color-btn-blue);
  color: var(--primary-color);
}
.login-btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: var(--color-text-blue);
}
