.signup-btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #000000;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: var(--color-text-blue);
}
/* .signup-btn:hover,
.login-btn:hover {
  background-color: var(--color-btn-blue);
  color: var(--primary-color);
} */
.login-btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: var(--color-btn-blue);
  border: 1px solid #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
}
.logout-btn {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: var(--color-btn-blue);
  border: 1px solid #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
}
.searchbar-loader {
  width: 24px;
  height: 24px;
  padding: 2px;
  /* aspect-ratio: 1; */
  border-radius: 50%;
  /* size: 24px; */
  background: #fff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  mask: var(--_m);
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
.Admin-create {
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  gap: 0px;
  border-radius: 36.49px;
  opacity: 0px;
  background: var(--color-btn-blue);
  border: 1px solid #fff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  color: #fff;
}

@keyframes l3 {to{transform: rotate(1turn)}}