

  .footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.12px;
    text-align: left;
    background: linear-gradient(
      90deg,
      rgba(254, 118, 117, 0.12) 0%,
      rgba(204, 129, 185, 0.12) 34.2%,
      rgba(26, 168, 210, 0.12) 68.81%,
      rgba(76, 210, 217, 0.12) 100%
    );
    margin-top: 0;
    padding: 1% 0;
  }
  .footer-trademark-content {
    margin: auto;
    font-size: 14px;
    width: fit-content;
    color: #010101;
  }
  