
.generate-annotate-container {

  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  position: relative;
  gap: 10px;
}

.generate-annotate-file-upload {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}
.annotate-file-upload h3 {
  position: absolute;
  top: -20px;
  left: 3px;
}

.upload-file {
  border: 1px dashed #999999;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.annotates-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.start-new,
.generate-button {
  width: 120px;
  padding: 10px 20px;
  border-radius: 8px;
}

.start-new {
  background-color: rgba(234, 234, 236, 1);
  color: rgba(78, 78, 86, 1);
  border: none;
}
.generate-close-collection{
  position: absolute;
    top: calc(46% - 35vh);
    right: calc(1% - 13px);
    border: none;
    cursor: pointer;
    z-index: 1001;
}
.generate-button {
  background-color: #1a82ff;
  color: white;
  border: none;
}
.annotate-annotations{
  width: 50%;
}