.Search-Nav {
  background: var(--secondary-color);
  width: 98%;
  height: 80px;
  border-radius: 20px;
  color: white;
  margin: 1% 1% 2% 1%;
}
.Search-Nav-Items {

  display: flex;
  justify-content: space-between;
  padding: 20px 32px 20px 32px;
}
.Search-nav-logo {
  display: flex;
  width: 90px;
  height: 34.66px;
}

.Search-nav-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
