.Navbar-Header {
  /* margin: 4px 0; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  color: black;
  min-width: 100%;
}

.Navbar-Header-Items {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 0 58px;
}

.Navbar-Header-Link {
  position: relative;
  text-decoration: none;
  color: black;
}

.Navbar-Header-Link.active-link::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -5px;
  width: 50%;
  height: 2px;
  background-color: #007bff;
}

.Search-nav-logo {
  height: 60px;
  display: flex;
}
.line-between {
  height: 30px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px;
}
.line-in-between {
  height: 20px;
  width: 1px;
  color: rgba(0, 0, 0, 0.1);
}
.logo-descreption {
  height: 45px;
  text-align: start;
}
.logo-descreption p {
  color: rgba(48, 91, 165, 1);
  font-size: 19px;
  font-weight: 600;
  margin: 0;
  background: -webkit-linear-gradient(180deg, #fe7675 0%, #19a8d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
}
.logo-descreption span {
  font-size: 18px;
  font-weight: 600;
  background: -webkit-linear-gradient(180deg, #fe7675 0%, #19a8d2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Search-nav-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 32px;
}
@media (min-width: 1080px) and (max-width: 1366px) {
  .Navbar-Header {
    margin: 0px;
  }
  .Search-nav-logo {
    height: 50px;
    display: flex;
  }
  .logo-descreption p {
    font-size: 16px;
  }
  .logo-descreption span {
    font-size: 16px;
  }
}
