.Navbar-Header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  color: black;
  /* margin-bottom: 1%; */
  background: linear-gradient(
    90deg,
    rgba(254, 118, 117, 0.08) 0%,
    rgba(204, 129, 185, 0.08) 34.2%,
    rgba(26, 168, 210, 0.08) 68.81%,
    rgba(76, 210, 217, 0.08) 100%
  );
  box-shadow: 0px 4px 28.8px 0px rgba(0, 0, 0, 0.08);
  min-width: 100%;
}

.Navbar-Header-Items {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 58px;
}

.Navbar-Header-Link {
  position: relative;
  text-decoration: none;
  color: black;
}

.Navbar-Header-Link.active-link::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -5px;
  width: 50%;
  height: 2px;
  background-color: #007bff;
}

.Search-nav-logo {
  display: flex;
  width: 9vw;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
}
.line-between {
  height: 30px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px;
}
.line-in-between {
  height: 20px;
  width: 1px;
  color: rgba(0, 0, 0, 0.1);
}
.Search-nav-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px 32px;
}
