.Search-Bar {
  /* margin: 0 auto; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  width: 60%;
  height: 94px;
  /* padding: 24px 0px 24px 0px; */
  gap: 32px;
  z-index: 99;
  bottom: 30px;
  display: flex;
  justify-content: center;
  outline: none;
}

.input-container {
  position: relative; /* Needed for absolute positioning of elements */
  width: 80%;
  /*max-width: 500px;*/ /* Set a maximum width to control sizing */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  width: 80%;
  padding-left: 40px; /* Add padding to make space for the icon */
  padding-right: 100px; /* Add padding for the search button */
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded input */
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 5);
}
.search-icon {
  position: absolute;
  left: 10px;
  /* top: 13%; */
  /* transform: translateY(-50%); */
  /* width: 5%; */
  height: 20px;
  z-index: 1;
}
.sticky .search-icon {
  left: 7%;
}
.search-button {
  position: absolute;
  right: 5px;
  background: linear-gradient(90deg, #fe7675 0%, #ce80b6 51%, #2ea3cf 106.25%);
  color: white;
  border: none;
  border-radius: 20px;
  height: 40px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  box-shadow: 0px 11px 34.1px 0px rgba(0, 0, 0, 0.12);
}
.sticky .search-button {
  left: 92%;
  right: auto;
}
.MuiOutlinedInput-root {
  height: 46px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

#LandinhHeader-searchbar-box {
  position: absolute;
  height: 7vh;
  width: 90%;
  margin: auto;
  left: 5%;
  top: 26%;
  /* background: #fff; */
  /* border: 1px solid black; */
  border-radius: 54px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.searchbar-header {
  margin: 2% auto;
}

.searchbar-outer {
  width: 60%;
  height: 13vh;
  gap: 32px;
  border-radius: 24px;
  border: 1px solid #ffffff;
  margin-top: 2%;
  position: relative;
  left: 20%;
  top: 10%;
  margin-bottom: 2%;
  background: rgba(250, 250, 250, 0.49);
}

.autocomplete {
  position: absolute;

  width: 100%;

  border: 0;
  gap: 0px;
  border-radius: 54px 0 0 54px;
  justify-content: space-between;
  opacity: 100%;
  color: black;
  /* padding-left: 5%; */
}
#LandingHeader-custom-textfield .MuiInputBase-input {
  padding-left: 30px; /* Adjust this value to increase padding */
}
.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  margin-right: 13% !important;
}

.MuiPaper-root {
  padding: 1px;
  margin-bottom: 16px;
  border-radius: 30px !important;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: Manrope !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 16.8px !important;
  text-align: center;
}
.suggestions-list {
  position: absolute;
  top: 45%;
  width: 75%;
  left: 10%;
  height: 46px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
  margin: 0;
  color: #010101;
  list-style: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
.icon {
  position: absolute;
  left: 2%;
  top: 30%;
  z-index: 1;
  color: black;
}

#search-button {
  position: absolute;
  right: 1%;
  top: 10%;
  z-index: 1;
  color: #ffffff;
  width: 10%;
  height: 35px;
  padding: 0px 16px 0px 16px;
  gap: 9.12px;
  border-radius: 36.49px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  background: linear-gradient(94.96deg, #5ea7ff -9.81%, #8c1aff 119.93%);
}
.icon-searchbarBackdrop {
  position: absolute;
  left: 0;
  top: 30%;
}

.icon-searchbarBackdrop_2 {
  position: absolute;
  top: 50%;
  left: 60%;
}

.icon-searchbarBackdrop_3 {
  position: absolute;
  top: 0%;
  left: 90%;
}

.searchbar-text {
  width: 75%;
  align-items: center;
  /* margin: auto; */
  /* margin-top: 12%; */
  position: absolute;
  top: 50%;
  left: 15%;
  color: #ffffff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.44px;
  letter-spacing: 0.02em;
  text-align: center;
}

#LandingHeader-custom-textfield .MuiInputBase-input {
  padding-left: 30px; /* Adjust this value to increase padding */
}
.MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
  margin-right: 13% !important;
}

.MuiPaper-root {
  padding: 1px;
  margin-bottom: 16px;
  border-radius: 30px !important;
  background-color: #ffffff;
  /* border-left: 3px solid #4285f4; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: Manrope !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 16.8px !important;
  text-align: center;
}
.suggestions-list {
  position: absolute;
  top: 45%;
  width: 75%;
  left: 10%;
  height: 46px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  padding: 0;
  margin: 0;
  color: #010101;
  list-style: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: black;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}
.icon {
  position: absolute;
  left: 2%;
  top: 25%;
  z-index: 1;
  color: black;
}

#search-button {
  position: absolute;
  right: 1%;
  top: 10%;
  z-index: 1;
  color: #ffffff;
  width: 10%;
  height: 35px;
  padding: 0px 16px 0px 16px;
  gap: 9.12px;
  border-radius: 36.49px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  background: #1a82ff;
}
.icon-searchbarBackdrop {
  position: absolute;
  left: 0;
  top: 30%;
}

.icon-searchbarBackdrop_2 {
  position: absolute;
  top: 50%;
  left: 60%;
}

.icon-searchbarBackdrop_3 {
  position: absolute;
  top: 0%;
  left: 90%;
}

.searchbar-text {
  width: 75%;
  align-items: center;
  /* margin: auto; */
  /* margin-top: 12%; */
  position: absolute;
  top: 50%;
  left: 15%;
  color: #ffffff;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.44px;
  letter-spacing: 0.02em;
  text-align: center;
}
