.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 64, 0.6);

  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.confirm-header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.confirm-dialog {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.confirm-message {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
}

.save-confirm-buttons {
  margin-top: 20px;
  width: 30px;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.confirm-save-button,
.confirm-discard-button,
.confirm-cancel-button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.confirm-save-button {
  color: rgba(78, 78, 86, 1);
  background: rgba(234, 234, 236, 1);
}

.confirm-discard-button {
  background: rgba(248, 29, 82, 1);
  color: white;
}

.confirm-cancel-button {
  background-color: #bbb;
  color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
