.notes {
    width: 349px;
    height: 70vh;
    gap: 0px;
    border-radius: 16px;
    margin: 0 1% 0 0;
    opacity: 0px;
    border: 1px solid rgba(235, 235, 243, 1);
    /* background-color: rgba(235, 235, 243, 0.5); */
  }
  .note-taking {
    width: 100%;
    height: 56.5vh;
    box-sizing: border-box;
    background-color: rgba(235, 235, 243, 1);
    border: 1px soild rgba(235, 235, 243, 1);
    flex: 1;
    border: none;
    padding: 3%;
    outline: none;
    background: transparent;
    resize: none;
    font-size: 14px;
    font-family: Manrope;
  }
  .note-input {
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(235, 235, 243, 1);
    border: 1px soild rgba(235, 235, 243, 1);
    flex: 1;
    border: none;
    padding: 3%;
    outline: none;
    background: transparent;
    resize: none;
    font-size: 14px;
    font-family: Manrope;
  }
  .close-button {
    background-color: blueviolet;
  }
  .Save-button {
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
  }
  .save-button > span {
    color: black;
  }
  .dropdown {
    /* width: 100%; */
    background-color: white; /* or your preferred background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* optional */
    padding: 10px; /* optional */
  }
  
  .open-header-dropdown {
    gap: 15px;
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .dropdown-button-group {
    display: grid;
    justify-content: start;
    gap: 10px;
  }
  .dots {
    font-size: 28px;
    color: black;
  }
  .cancel-button {
    background-color: transparent;
    border: none;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .cancel-button svg {
    font-size: 20px;
    padding: 10px 0px 0px 10px;
    /* width: 24px;
    height: 24px; */
  }
  .dropdown-toggle {
    color: #1a82ff;
    padding: 10px 0px 0px 10px;
  }
  .create-note__actions {
  }