.edit-note {
    /* padding: 20px; */
    /* Example color */
    height: 70vh;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .edit-note__header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 1px solid rgba(235, 235, 243, 5);
    padding-bottom: 10px;
    background-color: #16423c;
  }
  
  .edit-back-button {
    padding: 10px 0px 0px 10px;
    color: #1a82ff;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .edit-save-button {
    padding: 10px 0px 10px 0px;
    color: #1a82ff;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    /* font-size: 18px; */
  }
  .edit-delete-button {
    padding: 10px 10px 10px 0px;
    color: #1a82ff;
    font-size: 20px;
  }
  .edit-note__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /* .edit-note__title {
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .edit-note__details {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  } */
  .edit-note__details {
    width: 100%;
    height: 51.5vh;
    box-sizing: border-box;
    background-color: #6a9c89;
    /* background-color: rgba(235, 235, 243, 1); */
    border: 1px soild rgba(235, 235, 243, 1);
    /* flex: 1; */
    border: none;
    padding: 3%;
    outline: none;
    /* background: transparent; */
    resize: none;
    font-size: 14px;
    font-family: Manrope;
  }
  .edit-note__title {
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: #16423c;
    /* border: 1px solid rgba(235, 235, 243, 1); */
    flex: 1;
    border: none;
    padding: 3%;
    outline: none;
    /* background: transparent; */
    resize: none;
    font-size: 14px;
    font-family: Manrope;
  }