.NoteItem {
    height: 15vh;
    margin: 1%;
    background: rgba(235, 244, 255, 1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    color: var(--color-white);
  }
  
  .NoteItem:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  #title {
    font-family: Manrope;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-align: start;
  }
  #details {
    margin: 0;
    font-size: 14px;
    color: black;
    text-align: start;
  }
  #date {
    text-align: end;
    font-size: 12px;
    opacity: 0.85;
    color: black;
  }