.Notes-List {
  /* border-radius: 16px; */
  /* margin: 0 1% 0 0; */
  overflow-y: auto;
  opacity: 0px;
  border: 1px solid rgba(235, 235, 243, 1);
  /* background-color: rgba(235, 235, 243, 0.5); */
  background: rgba(251, 251, 253, 1);
}
.plus-dots {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(235, 235, 243, 1);
  margin: 0%;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(254, 118, 117, 0.7) -21.07%,
    rgba(204, 129, 185, 0.7) 37.85%,
    rgba(26, 168, 210, 0.7) 97.5%,
    rgba(76, 210, 217, 0.7) 151.24%
  );
}
.button-plus {
  color: white;
  margin: 1% 0% 1% 2%;
}
.plusSqare {
  width: 1.7vw;
}
.Notes-List-header {
  display: grid;
}
.dots {
  padding: 15px 10px 0px 0px;
  color: #1a82ff;
}
.note-p {
  font-family: Manrope;
  /* font-size: 15px; */
  font-weight: 600;
  color: white;
  margin: 1% 3% 0% 0%;
  padding: 0%;
}
#p {
  margin: 0;
  padding: 0;
}
.Search-wrapper {
  position: relative;
  width: 100%; /* or desired width */
  display: flex;
  align-items: center;
}

.Search-input {
  width: 100%;
  padding-left: 40px; /* Space for the icon */
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  margin: 1%;
  background: rgba(251, 251, 253, 1);
}

.Search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}
