.NoteItem {
  height: 15vh;
  margin: 1%;
  background: rgba(251, 251, 253, 1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: var(--color-white);
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
#title {
  font-family: Manrope;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: start;
}
#details {
  margin: 0;
  font-size: 14px;
  color: black;
  text-align: start;
}
#details ul {
  margin: 0 0 0 16px;
  padding: 0;
}
#details ol {
  margin: 0 0 0 16px;
  padding: 0;
}
#date {
  font-size: 12px;
  margin: 0;
  opacity: 0.85;
  color: black;
}
.detail-box {
  width: 100%;
}
/* Menu Button */
.menu-button:hover {
  color: #1a82ff; /* Change color on hover if desired */
}

/* Popup Menu */
.popup-menu {
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Popup Menu Items */
.popup-menu-item:hover {
  background-color: #f0f0f0;
}
/* Confirmation Popup Overlay */
.confirm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500; /* Higher than popup-menu */
  border-radius: 10px; /* Match the NoteItem's border radius */
}

/* Confirmation Popup */
.confirm-popup {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  width: 80%;
  max-width: 350px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.confirm-popup p {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.confirm-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.confirm-delete-button,
.confirm-keep-button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}
.confirm-keep-button {
  color: rgba(78, 78, 86, 1);
  background: rgba(234, 234, 236, 1);
}
.confirm-delete-button {
  background: #e57373;
  color: white;
}
.confirm-keep-button:hover {
  background: rgba(234, 234, 236, 1);
}
.confirm-delete-button:hover {
  background-color: #c82333;
}
.noteItem-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(58, 58, 64, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.noteItem-modal-content {
  background: white;
  padding: 20px;
  width: 25vw;
  border-radius: 20px;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.noteItem-modal-header {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
}

.noteItem-modal-close-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.email-input,
.subject-input {
  width: 100%;
  padding: 10px 0 10px 6px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.email-label {
  text-align: start;
  padding-bottom: 5px;
}
.email-button-group {
  display: flex;
  justify-content: end;
  padding: 15px 0px 0px 0px;
  gap: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.email-send-button {
  padding: 10px;
  width: 20%;
  border-radius: 30px;
  background: rgba(26, 130, 255, 1);
  color: white;
}
.email-cancel-button {
  padding: 10px;
  width: 20%;
  border-radius: 30px;
  background: rgba(234, 234, 236, 1);
  color: rgba(78, 78, 86, 1);
}
