.Landing-Container {
  display: flex;
  flex-direction: column;
}
.Landing-Content {
  display: flex;
  justify-content: space-between;
  margin: 1% 7%;
  min-height: 60%;
}
.Landing-Content-Left {
  position: relative;
  width: 70%;
  min-width: 40%;
  max-width: 70%;
}
.Left1,
.Left2,
.Right1,
.Right2 {
  position: absolute;
  width: 10%;
}
.Left1 {
  top: 12.5%;
  left: 12.5%;
}
.Left2 {
  top: 75%;
  left: 12.5%;
}
.Right1 {
  top: 12.5%;
  left: 75%;
}
.Right2 {
  top: 75%;
  left: 75%;
}
.Landing-Content-Left-Content {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  margin: auto;
}

.Landing-Welcome {
  width: fit-content;
  font-family: Manrope;
  font-size: 4vw;
  font-weight: 700;
  line-height: 73px;
  text-align: center;
  margin: 0;
}

/* Gradient Text */
.Landing-Infer {
  background: linear-gradient(
    90.5deg,
    #fe7675 73.07%,
    #cc81b9 82.08%,
    #19a8d2 99.57%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For non-WebKit browsers */
  text-fill-color: transparent; /* For other browsers if supported */
}

.Landing-Welcome-desc {
  width: 80%;
  margin: 0;
  text-align: justify;
  margin: 0;
  font-family: Manrope;
  font-size: 1vw;
  font-weight: 500;
  line-height: 23.36px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #a5a5a5;
}

.Landing-Searchbar {
  margin: 0;
  background: none;
  border-radius: 0;
  box-shadow: none;
  /* backdrop-filter: none;
    -webkit-backdrop-filter: blur(5px); */
  border: none;
  width: 100%;
  height: 94px;
  padding: 0;
  gap: 32px;
  z-index: 99;
  bottom: 30px;
  display: flex;
  justify-content: normal;
  outline: none;
  backdrop-filter: none;
}
.Landing-Searchbar .input-container {
  position: static;
  width: 100%;
}

.Landing-Content-Right {
  width: 30%;
  min-width: 20%;
  max-width: 30%;
}

.Landing-Content-Right-Image {
  width: 80%;
}

.Landing-Features {
  display: flex;
  width: 60%;
  margin: 1% auto;
  height: Hug(257px) px;
  top: 593px;
  left: 168px;
  padding: 0px 32px 0px 32px;
  gap: 72px;
  border-radius: 24px;
  opacity: 0px;
  justify-content: space-around;
}
.Feature-Item {
  text-align: center;
  margin: 2%;
}

.Feature-Item h4 {
  font-family: Manrope;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}

.Feature-Item a {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.36px;
  text-align: center;

  display: block;
  margin: 8px 0;
  color: #007bff;
  text-decoration: none;
}

.Feature-Item a:hover {
  text-decoration: underline;
}

.WhyInfer-points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Landing-Features-card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 -6px 8px rgba(0, 0, 0, 0.2),
    /* Top shadow */ 0 6px 8px rgba(0, 0, 0, 0.2),
    /* Bottom shadow */ -2px 0 6px rgba(0, 0, 0, 0.1),
    /* Left shadow */ 2px 0 6px rgba(0, 0, 0, 0.1);
}

.Landing-Features-card:hover {
  transform: scale(1.05);
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.number {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.number span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.card-title {
  background: linear-gradient(
    90.5deg,
    #fe7675 30.57%,
    #cc81b9 45.01%,
    #19a8d2 73.04%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 31.2px;
  text-align: center;
}

.card-content {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 1.6;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.36px;
  letter-spacing: 0.02em;
  text-align: center;
}
.Notes-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.notes-modal {
  position: fixed;
  /* top: 10%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center; */
  background-color: white;
  /* padding: 20px; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* z-index: 1000; */
  border-radius: 8px;
  height: 70vh;
  width: 40%;
}
.close-modal-notes {
  position: absolute;
  top: -40px;
  right: 0px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 600px;
  position: relative;
  backdrop-filter: blur(1px);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f00;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 998;
}
.collection-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  height: 70vh;
  width: 80%;
  overflow-y: auto;
}
.close-collection {
  position: absolute;
  top: calc(42% - 35vh);
  right: calc(10% - 20px);
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.close-collection:hover {
  color: #1a82ff;
}

.close-collection:hover {
  background-color: rgba(235, 235, 247, 0.5);
}
.close-modal-notes:hover {
  background-color: rgba(235, 235, 247, 0.5);
}
.resizer {
  position: absolute;
  background: transparent;
  z-index: 1000;
}

.resizer-top {
  cursor: ns-resize;
  height: 5px;
  top: 0;
  left: 0;
  right: 0;
}

.resizer-right {
  cursor: ew-resize;
  width: 5px;
  top: 0;
  bottom: 0;
  right: 0;
}

.resizer-bottom {
  cursor: ns-resize;
  height: 5px;
  bottom: 0;
  left: 0;
  right: 0;
}

.resizer-left {
  cursor: ew-resize;
  width: 5px;
  top: 0;
  bottom: 0;
  left: 0;
}
.draggable-header {
  cursor: move;
  padding: 10px;
  background-color: #1a82ff;
  color: #fff;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.Notes {
  width: 100%;
  height: 100%;
  overflow: auto;
}
