.Login-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; /* Ensure it takes up the full height of the viewport */
  overflow-y: hidden;
  gap: 20px;
}
.logo-in-login {
  width: 8vw;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(255, 255, 255, 1);

  padding: 30px;
  width: 450px;
  border-radius: 30px;
  font-family: "Manrope";
  border: 1px solid rgba(0, 0, 0, 0.1);
}
::placeholder {
  font-family: Manrope;
}

.form button {
  /* align-self: flex-end; */
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-column > label {
  color: #151717;
  font-weight: 600;
  display: flex;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

/* Error outline class for invalid inputs */
.error-outline {
  border-color: red !important; /* Red outline for errors */
}

/* Focus state for input form */
.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.input {
  border-radius: 10px;
  border: none;
  width: 90%;
  height: 90%;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 34px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252727;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}
.apple svg {
  width: 20px;
  height: -webkit-fill-available;
}

.error {
  color: red;
  font-size: 12px;
  margin: 5px 0;
  display: flex;
}
.button-submit:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .Login-Form {
  }
}
