button {
  cursor: pointer;
}
.Container {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.Content {
  position: relative;
  width: 100%;
  /* height: 20vh; */
  border-radius: 20px;
  padding: 0;
}
.searchResults-Bar {
  width: 60%;
  background-color: #ffffff;
  height: 50px;
  /* border: 1px solid black; */
  box-shadow: none;
  /* border: 1px solid #e0e0e0; */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Stay above the content */
}
.searchResults-Bar .search-icon{
  top: 25%;
}
.searchResults-Bar .search-button{
  top: 7%;
}
#Search-Content-Container {
  display: flex;

  top: 45%;
  width: 85%;

  border-radius: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 1% auto;
  /* margin-top: 30%; */
  padding: 0;
}
.searchContent-left {
  /* margin-left: 10%; */

  height: calc(
    100vh - 60px - 50px
  ); /* Adjust height based on header and search bar */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 60px; /* Stick under the header */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  width: 15%;
  background-color: #fff;
  height: fit-content;
  flex-shrink: 0;
  max-height: 500px;
  height: 500px;
}
.searchContent-left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*   */
}
.Filters-ResetAll {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  /* color: black; */
  cursor: pointer;
  /* margin-bottom: 12px; */
  color: rgba(26, 130, 255, 1);
}
.searchfilter-options {
  width: 100%;
  display: flex;
  margin: 15px 0;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  font-family: manrope;
  font-size: 18px;
}
.searchfilter-section {
  width: 100%;
  border-bottom: 1px solid rgba(235, 235, 243, 1);
}
.searchfilter-section h5 {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* width: fit-content; */
  cursor: pointer;
}
.searchfilter-section label {
  display: flex;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 3% 0;
}
.searchfilter-section label input[type="checkbox"] {
  padding-right: 5%;
}
/* .searchfilter-options-dropdown {
  margin-bottom: 10%;
} */
.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
  color: black;
}

.results-list-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.result-item-left {
  background-color: #f1f3f4;
  border: none;
  border-radius: 16px;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  margin-bottom: 3px;
  color: #333;
}

.result-item:hover {
  background-color: #e0e0e0;
}

.SimilarResults-data-not-found-container {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
  background-color: #fff;
  color: black;
  padding: 20px;
}

/* Styling for the message box */
.SimilarResults-data-not-found {
  text-align: center;
  background-color: #fff; /* White background for the box */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Styling for the heading */
.data-not-found h2 {
  font-size: 24px; /* Larger font size for the heading */
  color: #333; /* Dark color for the text */
  margin-bottom: 20px;
}

/* Styling for the description text */
.data-not-found p {
  font-size: 16px; /* Standard font size for the paragraph */
  color: #777; /* Slightly lighter color for the paragraph text */
  line-height: 1.5;
  margin: 0;
}

.searchContent-right {
  height: calc(100vh - 60px); /* Full height minus header and search bar */
  overflow-y: auto;
  height: fit-content;
  margin-right: 1%;
  margin-left: 1%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0 16px 32px 16px;
  width: 75%;
  background-color: #fff;
}
.searchContent-right::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.searchContent-right::-webkit-scrollbar-thumb {
  background: #a7a7a7; /* Color of the scrollbar */
  border-radius: 10px;
}

.searchContent-right::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

.searchContent-right::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.SearchResult-Count-Filters {
  padding: 20px 0 10px 0;
  z-index: 1;
  height: 40px;
  /* margin: 0.5% 0; */
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
  overflow-y: hidden;
  background-color: #ffffff;
}
.SearchResult-Option-Left {
  display: flex;
  height: fit-content;
  gap: 8px;
  height: 5vh;
  /* border: 1px solid #e0e0e0; */
  border-radius: 25px;

}
.SearchResult-Annotate {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid;
    opacity: 0px;
    color: rgba(26, 26, 26, 1);

}
.SearchResult-Annotate .loader{
}
.SearchResult-Share {
  width: fit-content;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid;
    opacity: 0px;
    color: rgba(26, 26, 26, 1);

}.SearchResult-Save {
  width: fit-content;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid;
    opacity: 0px;
    color: rgba(26, 26, 26, 1);

}
.SearchResult-Annotate {
  /* opacity: 0.3; */
  pointer-events: none;
  /* transition: opacity 0.3s ease-in-out; */
}

.SearchResult-Annotate.active {
  opacity: 1;
  pointer-events: auto;
  border: 1px solid;
  background: #0069e5;
  color: white;
}

/* Annotate button container */
.annotate-container {
  position: relative;
  display: inline-block;
}

/* Initially hide the popup */
.popup {
  display: none;
  position: absolute;
  top: 100%;
  left: 110%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  flex-direction: column;
  gap: 10px;
  width: max-content;
}

/* Show the popup when hovering over the container */
.annotate-container:hover .popup {
  display: flex; /* Flexbox to stack buttons vertically */
}



/* Popup buttons */
.popup-btn {
  padding: 10px;
  background-color: #1a82ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-btn:hover {
  background-color: #0056b3;
}

/* Annotate button active style */
.SearchResult-Annotate.active {
  opacity: 1;
  pointer-events: auto;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 16px;
  height: 16px;
  padding: 4px;
  /* aspect-ratio: 1; */
  border-radius: 50%;
  /* size: 24px; */
  background: #ffffff;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  mask: var(--_m);
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.SearchResult-count {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  color: rgba(26, 26, 26, 1);
  background-color: #fff;
  border: none;
}
.SearchResult-dropdown {
  padding: 10px;
  gap: 12px;
  border-radius: 50px;
  border: 1px solid black;
  opacity: 0.7px;
}

.SearchResult-Options {
  gap: 4px;
  border: none;
  opacity: 0px;
  background-color: #fff;
  cursor: pointer;
  height: fit-content;
}

.searchContent-articles {
  display: flex;
  flex-direction: column;
  color: black;
  /* border: 1px solid black; */
  margin-top: 1%;
  width: 98%;
}
.searchresults-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.searchresult-item {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
  width: 100%;
  height: 22vh;
  text-align: justify;
  border-left: 3px solid;
  /* border-image: linear-gradient(45deg, #fe7675, #cc81b9, #19a8d2, #4bd1d8) 1; */
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #dbd7d7;
  overflow: hidden;
  justify-content:space-between
}
.searchresult-item :hover {
  /* text-decoration: underline; */
  text-decoration-color: #0071bc;
}
.searchresult-item-header {
  display: flex;
  overflow: hidden;
  width: -webkit-fill-available;
  justify-content: space-between;
}
.result-checkbox {
}
.searchresult-ArticleTitle{
  display: flex;
}
.searchresult-title-container {
  display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 5px;
}
.searchresult-title-container:hover {
  text-decoration: underline;
  text-decoration-color:#0071bc ;
}
.gradient-text {
  /* background: linear-gradient(90deg, #cc81b9 0%, #1aa8d2 100%); */
  color: #0071bc;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */

}
.gradient-text:hover {
}


.searchresult-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
  cursor: pointer;
  margin-top: 0;
}

.searchresult-authors {
  font-size: 14px;
  color: black;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.searchresult-ID{
  display: flex;
  flex-direction: row ;
  gap:20px
}
.searchresult-pmid {
  font-size: 14px;
  color: #2b9247;
  margin: 0px;
}
.searchresult-similarity_score{
  font-size: 14px;
  color: #2b9247;
  margin: 0px;
}
.Article-Options{
  min-height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
    align-items: center;
}
.Article-Options-Left{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  gap: 10px;
  align-items: center;
}
.Article-Rating{

}

.searchResult-rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  /* gap: 10px; */
  /* width: 235px; */
  height: 1vh;
  width: 16vh;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.searchResult-rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.searchResult-rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: rgb(205 205 205);
}
.searchResult-rate:not(:checked) > label:before {
  content: "★ ";
}
.searchResult-rate > input:checked ~ label {
  color: #ffc700;
}
/* .searchResult-rate:not(:checked) > label:hover,
.searchResult-rate:not(:checked) > label:hover ~ label {
  color: #ffc700;
} */
.searchResult-rate > input:checked + label:hover,
.searchResult-rate > input:checked + label:hover ~ label,
.searchResult-rate > input:checked ~ label:hover,
.searchResult-rate > input:checked ~ label:hover ~ label,
.searchResult-rate > label:hover ~ input:checked ~ label {
  color: #ffc700;
}


.Ask-Question{
  cursor: pointer;
    margin: 0;
    font-size: 14px;
}
.searchresult-description {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-align: justify;
  color: #000000;
  margin-top: 5px;
}
.searchresult-content {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-align: justify;
  /* color: #12b812; */
}

.searchresult-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchresult-checkbox {
  transform: scale(1.2);
}

.searchresult-icon {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  color: #757575;
}

.pagination-controls {
  display: flex;
  /* gap: 8px; */
  align-items: center;
}
.MuiButtonBase-root .MuiButton-root{
  min-width:30px
}
.pagination-controls button {
  /* background-color: #f1f3f4; */
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-controls button {
  background-color: #f1f3f4;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}
.result-actions-right {
  margin: 0 0 0 auto;
}

.data-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38vh; /* Full height of the viewport */
  background-color: #f9f9f9; /* Optional: Light background color */
  padding: 20px;
}

/* Styling for the message box */
.data-not-found {
  text-align: center;
  background-color: #fff; /* White background for the box */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  padding: 30px 50px; /* Padding inside the box */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Styling for the heading */
.data-not-found h2 {
  font-size: 24px; /* Larger font size for the heading */
  color: #333; /* Dark color for the text */
  margin-bottom: 20px;
}

/* Styling for the description text */
.data-not-found p {
  font-size: 16px; /* Standard font size for the paragraph */
  color: #777; /* Slightly lighter color for the paragraph text */
  line-height: 1.5;
  margin: 0;
}

.search-right-aside {
  /* width: 44px;
  height: 88px; */
  height: calc(
    100vh - 60px - 50px
  ); /* Adjust height based on header and search bar */
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 60px; /* Stick under the header */
  display: flex;
  gap: 0px;
  opacity: 0px;
  height: fit-content;
  /* border: 1px solid rgba(235, 235, 243, 1); */
}
.search-annotate {
  width: 26vw;
  /* height: 514px; */
  max-height: 532px;
  overflow-y: auto;
  gap: 0px;
  border-radius: 16px;
  margin: 0 2% 0 0;
  opacity: 0px;
  border: 1px solid rgba(235, 235, 243, 1);
  background: #fbfbfd;
}
.search-annotate::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.search-annotate::-webkit-scrollbar-thumb {
  background: #a7a7a7; /* Color of the scrollbar */
  border-radius: 10px;
}

.search-annotate::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

.search-annotate::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}
.search-icons-group {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.search-annotate-icon {
  border: 1px solid rgba(235, 235, 243, 1);
  border-radius: 8px;
  padding: 10px;
}

/* Add custom border-bottom for each row */
.search-table-row td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* .search-table-head {
  border-bottom: 2px solid #ddd;
} */
.search-table-body {
  /* border-bottom: 2px solid #ddd; */
}
.flex-row {
  display: flex;
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 16px;
  cursor: pointer;
}
/* Add border-left for each th element */
.search-table-head th {
  /* border-left: 1px solid #ddd; */
}

/* Add overall table border styles */
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-decoration: none;
}
th,
td {
  padding: 8px; /* Optional padding for readability */
  text-align: left; /* Optional for alignment */
  text-decoration: none;
  color: black;
  font-family: Manrope;
  font-size: small;
  padding-left: 10px;
}
.search-save-button {
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  color: rgba(26, 130, 255, 1);
  font-weight: 500;
  margin: 6px 6px 0 0;
  padding-left: 10px;
  padding-right: 10px;
}
.search-table-head th {
  /*   
  border-left: 1px solid #ddd; */
  border-top: 1px solid #ddd;
}
.search-table-body td {
  font-size: 12px;
  /* border-left: 1px solid #ddd; */
  border-top: 1px solid #ddd;
}
.search-table-row td {
  border-left: 1px solid #ddd;
}


/*Chat*/
.search-notes {
  width: 349px;
  max-height: 532px;
  height: 532px;
  gap: 0px;
  border-radius: 16px;
  margin: 0 5% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  opacity: 0px;
  border: 1px solid rgba(235, 235, 243, 1);
  background-color: #fff;
}
.search-stream-input{
  width: 90%;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 auto 10px auto;
  align-items: center;
}

.search-stream-input input {
  flex-grow: 1;
  padding: 15px 0; /* Add padding for the flag and button */
  border-radius: 20px;
  /* border: 1px solid #ccc; */
  margin-left: 1%;
  font-size: 14px;
  box-shadow: 500px;
  width: 85%;
  border:none;
  outline: none;
}

.stream-flag-logo {
  /* position: absolute; */
  /* left: 2%; */
  top: 60%;
  margin-left: 1%;
  /* transform: translateY(-50%);
  height: 20px;
  width: auto; */
}
.search-stream-input .button {
  /* position: absolute; */
  height: 30px;
  /* transform: translateY(-50%); */
  /* padding: 5px 15px; */
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 1%;
}

.stream-input-query {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 22%;
  display: flex;
  align-items: center;
  width: 76%;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 10;
}

.search-note-taking {
  width: 100%;
  height: 514px;
  box-sizing: border-box;
  background-color: rgba(235, 235, 243, 1);
  border: 1px soild rgba(235, 235, 243, 1);
  flex: 1;
  border: none;
  padding: 3%;
  outline: none;
  background: transparent;
  resize: none;
  font-size: 14px;
  font-family: Manrope;
}.search-notes p {
  color: black;
  width: 40px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin-left: 17px;

  /* text-align: start; */
}
.search-notes-icon {
  border: 1px solid rgba(235, 235, 243, 1);
  /* background-color: rgba(235, 244, 255, 1); */
  border-radius: 8px;
  padding: 10px;
}
.search-tables p {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: black;
  margin: 3% auto;
  width: fit-content;
}
.search-Annotate-tables {
  /* margin: 3%; */
}
.search-table-head {
  border-bottom: 1px solid;
}
.search-annotate-icon,
.search-notes-icon {
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-annotate-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.search-annotate-icon.closed {
  background-color: white;
}

.search-notes-icon.open {
  background-color: rgba(235, 244, 255, 1);
}

.search-notes-icon.closed {
  background-color: white;
}

.custom-date-range{
  display: flex;
    flex-direction: column;
}
.custom-date-input label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-date-input label input{
 width: 60%;
 padding: 2%; 
 border:1px solid #b6b6b6;
 border-radius: 24px;
 color: #000;
}
.ApplyFilters{
  margin: 0 0 0 auto;
  border: 1px solid #b6b6b6;
  color: #1A82FF;
  padding: 3% 10%;
  margin-bottom: 5%;
  border-radius: 40px;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.pagination-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 10px;
  color: #007bff; /* Button text color */
}

.pagination-controls button:disabled {
  color: #dcdcdc; /* Disabled button color */
  cursor: not-allowed;
}

.pagination-controls input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  margin: 0 5px;
}

.pagination-controls span {
  margin-left: 5px;
  font-size: 16px;
  color: #000; /* Text color */
}

/* Style for first and last page buttons */
.pagination-controls button:first-child,
.pagination-controls button:last-child {
  padding: 5px;
  border-radius: 3px;
}

.pagination-controls button:hover:not(:disabled) {
  color: #0056b3; /* Button hover color */
}

/* Align the input with other elements */
button input {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}
